body{
    background-color: #fdfcfc;
}
#error1{
    display: none;
}
#error2{
    display: none;
}
#show-more{
    display: none;
}
#spniner{
    display: none;
}
.text{
    color: rgb(6, 66, 122);
}
.color{
    color: rgb(73, 69, 69);
    font-size: 22px;
    font-weight: 500;
}
.phone-name{
    color: darkslategrey;
    font-size: 2rem;
    font-weight: 700;
}
@media only screen and (min-width: 1024px) {
    #phones {
      width: 50%;
    }
    #image{
        width: 80%;
    }
};
@media only screen and (max-width: 600px) {
    #phones {
      width: 80%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #phones {
      width: 80%;
    }
}
